<div id="navbar" layout="row">
	<div layout="column" flex>
		<div id="logo">
			<img src="/assets/images/logo1.png" alt="Appsprove Logo">
		</div>

		<div id="viewTitle" layout="row">
			<div id="menu" ng-mouseenter="openSidenav()" layout layout-align="center center" title="Click/Hover to show sidenav">
				<i class="mdi mdi-menu"></i>
			</div>
			<span class="md-headline">{{ pageTitle }}</span>
		</div>
	</div>

	<div flex></div>

	<div layout="column" layout-align="center end">
		<span hide-gt-xs ng-click="logout()" class="md-body-2"><i class="mdi mdi-logout"></i> Logout</span>
		<span hide-xs ng-click="logout()" class="md-body-2"><i class="mdi mdi-logout"></i> Click here to logout</span>

		<!-- NAVBAR ACTIONS -->
		<div ng-if="currentState == 'admin.projectList'" layout layout-padding layout-align="start center">
			<i ng-click="projectTracker.projectList.addProject()" class="mdi mdi-plus action">
				<md-tooltip md-direction="left">Add new project</md-tooltip>
			</i>
		</div>

		<div ng-if="currentState == 'admin.projectInfo'" layout layout-padding layout-align="start center">
			<i ng-click="projectTracker.projectInfo.editProject()" class="mdi mdi-pencil action">
				<md-tooltip md-direction="left">Edit this project's basic infos</md-tooltip>
			</i>
			<i ng-click="projectTracker.projectInfo.addProjectStage()" class="mdi mdi-plus action">
				<md-tooltip md-direction="left">Add new stage to this project</md-tooltip>
			</i>
		</div>
	</div>
</div>


