<p ng-message="required" class="error">This field is required</p>
<p ng-message="minlength" class="error">This field is too short</p>
<p ng-message="maxlength" class="error">This field is too long</p>
<p ng-message="email" class="error">This needs to be a valid email</p>