<div id="navbar" layout="row">
	<div layout="column" flex>
		<div id="logo">
			<img src="/assets/images/logo1.png" alt="Appsprove Logo">
		</div>

		<div id="viewTitle" layout="row">
			<div id="menu" ng-mouseenter="openSidenav()" layout layout-align="center center" title="Click/Hover to show sidenav">
				<i class="mdi mdi-menu"></i>
			</div>
			<span class="md-headline">{{ pageTitle }}</span>
		</div>
	</div>

	<div flex></div>

	<div hide-xs hide-sm layout="column" layout-align="space-around end">
		<span ng-click="logout()"><i class="mdi mdi-logout"></i> Click here to logout</span>

		<div layout="row">
			<a class="navbarLink" href="//appsprove.com">
				Home
			</a>

			<a class="navbarLink active">
				Customers Page
			</a>

			<a class="navbarLink" href="//appsprove.com/?p=47">
				About Us
			</a>

			<a class="navbarLink" href="//appsprove.com/?p=58">
				Solutions
			</a>

			<a class="navbarLink" href="//appsprove.com/?p=62">
				Portfolio
			</a>

			<a class="navbarLink" href="//appsprove.com/?p=327">
				Services
			</a>

			<a class="navbarLink" href="//appsprove.com/?p=65">
				Contact
			</a>
		</div>
	</div>

	<div hide-gt-sm layout="column" layout-align="space-around end">
		<div layout="column" layout-align="center start">
			<span ng-click="logout()" class="md-body-2"><i class="mdi mdi-logout"></i> Logout</span>
			<span ng-click="appsprove()" class="md-body-2"><i class="mdi mdi-web"></i> Go to website</span>
		</div>

		<div></div>
	</div>
</div>