<div id="sidenav">
	<md-sidenav ng-mouseleave="sideNavIsOpen = false" class="md-whiteframe-2dp" md-component-id="sideNavLeft" md-is-open="sideNavIsOpen">
		<md-content>
			<!-- profileSection(the part with background image) -->
			<div class="profileSection" layout="column" layout-padding>
				<div flex></div>
				<p flex="35">
					<strong>{{ user.name }}</strong>
					<br>
					<md-menu>
						<span ng-click="$mdOpenMenu($event)">
							{{ user.email }}
							<i class="mdi mdi-menu-down"></i>
						</span>
						<md-menu-content width="3">
							<md-menu-item>
								<md-button ng-click="">
									<i class="mdi mdi-alert"></i>
									&nbsp;
									Action
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="changeState('admin.profileInfo', 'profile')">
									<i class="mdi mdi-account"></i>
									&nbsp;
									Profile
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="">
									<i class="mdi mdi-cached"></i>
									&nbsp;
									Etc
								</md-button>
							</md-menu-item>
							<md-divider></md-divider>
							<md-menu-item>
								<!-- logout function is in mainController -->
								<md-button ng-click="logout()">
									<i class="mdi mdi-logout"></i>
									&nbsp;
									Logout
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</p>
			</div>
			
			<div layout-padding>
				<md-list>
					<md-list-item layout ng-click="changeState('customer.dashboard')">
						<i class="mdi mdi-view-dashboard"></i>
						&emsp;
						<span>Dashboard</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('customer.projectList')">
						<i class="mdi mdi-file-multiple"></i>
						&emsp;
						<span>Projects</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('customer.projectManagerList')">
						<i class="mdi mdi-account-multiple"></i>
						&emsp;
						<span>Project Managers</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('customer.messageList')">
						<i class="mdi mdi-message-text"></i>
						&emsp;
						<span>Messages</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('customer.appSettings')">
						<i class="mdi mdi-settings"></i>
						&emsp;
						<span>App Settings</span>
					</md-list-item>
				</md-list>
			</div>
		</md-content>
	</md-sidenav>
</div>
