@import '../core/palette.scss';


div#loginContainer {
	height: 100%;
	min-height: 100vh;
	background: palette(Blue, 500);

	div#loginHeader {
		padding-top: 25px;
		text-align: center;
	}


	#loginForm {
		border-radius: 5px;
		max-width: 350px;
		background: white;
	}


	div#footer {
		color: white;
		text-align: center;
		padding-top: 25px;

		a {
			color: white;
		}
	}
}



