@import '../core/palette.scss';



md-dialog#projectStageComments {
	div#comments {
		overflow: auto;
		margin-bottom: 65px;
	}

	div#commentInput {
		position: absolute;
		background-color: white;
		bottom:	0px;
		left: 0px;
		height: 65px;
		width: 100%;

		md-input-container {
			div.md-errors-spacer {
				min-height: 0px;
			}
		}
	}
}




.mainContent#projectList {
	ng-letter-avatar {
		margin-right: 10px;
	}
}





.mainContent#projectInfo {
	div#projectMainInfo {
		table {
			td > b {
				white-space: nowrap;
			}
		}
	}
}
