/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
md-dialog#projectStageComments div#comments {
  overflow: auto;
  margin-bottom: 65px; }

md-dialog#projectStageComments div#commentInput {
  position: absolute;
  background-color: white;
  bottom: 0px;
  left: 0px;
  height: 65px;
  width: 100%; }
  md-dialog#projectStageComments div#commentInput md-input-container div.md-errors-spacer {
    min-height: 0px; }

.mainContent#projectList ng-letter-avatar {
  margin-right: 10px; }

@media (min-width: 960px) {
  .mainContent#projectInfo div#projectStages {
    padding-left: 30px; } }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
div#navbar {
  height: 90px;
  background: #212121;
  color: white;
  padding-left: 10px;
  padding-right: 10px; }
  div#navbar a {
    color: white; }
  div#navbar i.mdi {
    color: #C62828; }
  div#navbar div#menu {
    font-size: 20px;
    margin-right: 10px; }
  div#navbar div#viewTitle {
    white-space: nowrap; }
  div#navbar .navbarLink {
    padding: 10px 15px 10px 15px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap; }
  div#navbar .navbarLink.active {
    background: #C62828;
    border-radius: 2px; }
  div#navbar .mdi.action {
    font-size: 20px;
    color: #99FF00; }

#sidenav md-sidenav {
  background-color: #212121;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px; }
  #sidenav md-sidenav md-content {
    background-color: #212121; }
  #sidenav md-sidenav .profileSection {
    color: #FFF;
    background-image: url("/assets/images/materialDesignPattern.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    overflow: hidden;
    text-shadow: 1px 1px 10px #000000; }
    #sidenav md-sidenav .profileSection img.circleAvatar {
      box-shadow: 1px 1px 2px #000000; }
  #sidenav md-sidenav i.mdi {
    font-size: 22px;
    color: #C62828; }
  #sidenav md-sidenav md-list {
    color: #FFF;
    height: 100%; }
    #sidenav md-sidenav md-list md-list-item {
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px; }

#sidenav md-sidenav,
#sidenav md-sidenav.md-locked-open,
#sidenav md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 85vw !important;
  max-width: 300px !important; }

.mainContent {
  height: calc(100vh - 90px);
  overflow: auto; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  /*background: rgba(0,0,0,0.1); */
  border-radius: 10px;
  /*border:1px gray solid;*/ }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  /*&:not(:active){
		background: none;
		border:0px solid rgba(0,0,0,0.5);
	}   */ }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3); }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5); }

div.clearfix {
  clear: both;
  width: 100%; }

timeline {
  margin-left: -20px; }

timeline-badge {
  z-index: 0; }

.date-picker {
  padding-right: 18px;
  height: 58px !important;
  margin-top: 8px !important; }
  .date-picker label {
    left: 33px !important;
    right: 0 !important;
    width: calc(100% - 33px) !important; }
  .date-picker md-datepicker {
    display: inline-block;
    width: 100%;
    margin-left: 26px;
    height: 0; }
    .date-picker md-datepicker .md-datepicker-button {
      float: left;
      margin-top: -12.5px;
      margin-left: -33px; }
    .date-picker md-datepicker .md-datepicker-input-container {
      width: 100%;
      top: -14px;
      right: 17px; }
      .date-picker md-datepicker .md-datepicker-input-container .md-datepicker-input {
        max-width: 100% !important;
        min-width: 100% !important; }
      .date-picker md-datepicker .md-datepicker-input-container .md-datepicker-expand-triangle {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid; }
  .date-picker .md-input-messages-animation .md-input-message-animation {
    opacity: 1;
    margin-top: 6px !important;
    margin-left: 34px !important; }
