<md-dialog layout="column" flex="40" aria-label="New Project Stage" style="max-height: 80%">

	
	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Edit Project Stage</span>
		</div>

		<md-button ng-click="dismiss()" class="md-icon-button" aria-label="Close stage edit">
			<i class="mdi mdi-close"></i>
		</md-button>
	</md-toolbar>




	<form name="projectStageEditForm" novalidate ng-submit="saveProjectStage(projectStageEditForm)">
	<md-dialog-content layout="column" layout-margin>
		<br>

		<md-input-container>
			<label>Stage Type</label>
			<md-select ng-model="projectStageCopy.stage" name="stageType" required>
				<md-option value="Document Assessment">Document Assessment</md-option>
				<md-option value="Development">Development</md-option>
			</md-select>
			<div ng-messages="projectStageEditForm.stageType.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			</div>
			<br>
		</md-input-container>

		<md-input-container>
			<label>Notes/Remarks</label>
			<input ng-model="projectStageCopy.note" name="note" type="text" required ng-pattern="alphanumericSymbol" />
			<div ng-messages="projectStageEditForm.note.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error">This field requires alphanumeric and basic symbols only</div>
			</div>
		</md-input-container>
		
		<md-input-container>
			<label>Date</label>
			<md-datepicker ng-model="projectStageCopy.created_at" name="date" required></md-datepicker>
			<div ng-messages="projectStageEditForm.date.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			</div>
		</md-input-container>
	</md-dialog-content>




	<md-dialog-actions>
		<span flex></span>
		<md-button ng-click="dismiss()" calss="md-default">Cancel</md-button>
		<md-button type="submit" class="md-primary md-raised">Save</md-button>
	</md-dialog-actions>
	</form>

</md-dialog>
