<md-dialog layout="column" flex="40" aria-label="New Project" style="max-height: 80%">

	
	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Edit Project's Basic Info</span>
		</div>

		<md-button ng-click="dismiss()" class="md-icon-button" aria-label="Close project edit">
			<i class="mdi mdi-close"></i>
		</md-button>
	</md-toolbar>




	<form name="projectEditForm" novalidate ng-submit="saveProject(projectEditForm)">
	<md-dialog-content layout="column" layout-margin>
		<br>

		<md-input-container>
			<label>Project Name</label>
			<input ng-model="projectCopy.name" name="projectName" type="text" required ng-pattern="alphanumeric" ng-maxlength="50" />
			<div ng-messages="projectEditForm.projectName.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label>Description</label>
			<input ng-model="projectCopy.description" name="description" size="4" required ng-pattern="alphanumericSymbol" />
			<div ng-messages="projectEditForm.description.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error">This field requires alphanumeric and basic symbols only</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label>Customer</label>
			<md-select ng-model="projectCopy.customerId" name="customer" required>
				<md-option ng-repeat="customer in customers | orderBy:'name'" ng-value="customer.id">{{ customer.name }}</md-option>
			</md-select>
			<div ng-messages="projectEditForm.customer.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			</div>
			<br>
		</md-input-container>

		<md-input-container>
			<label>Project Manager</label>
			<md-select ng-model="projectCopy.projectManagerId" name="projectManager" required>
				<md-option ng-repeat="projectManager in projectManagers | orderBy:'name'" ng-value="projectManager.id">
					{{ projectManager.name }} | {{ projectManager.type }}
				</md-option>
			</md-select>
			<div ng-messages="projectEditForm.projectManager.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			</div>
			<br>
		</md-input-container>

		<md-input-container>
			<label>Project Type</label>
			<md-select ng-model="projectCopy.type" name="type" required>
				<md-option value="Website">Website</md-option>
				<md-option value="Web System">Web System</md-option>
				<md-option value="Logo">Logo</md-option>
			</md-select>
			<div ng-messages="projectEditForm.type.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			</div>
			<br>
		</md-input-container>

		<md-input-container>
			<label>Project Status</label>
			<input ng-model="projectCopy.status" name="status" type="text" required ng-pattern="numeric" ng-maxlength="3" />
			<div ng-messages="projectEditForm.status.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error">This field requires numbers only</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label>Date Start</label>
			<md-datepicker ng-model="projectCopy.created_at" name="startDate" required></md-datepicker>
			<div ng-messages="projectEditForm.startDate.$error">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			</div>
		</md-input-container>
	</md-dialog-content>




	<md-dialog-actions>
		<span flex></span>
		<md-button ng-click="dismiss()" calss="md-default">Cancel</md-button>
		<md-button type="submit" class="md-primary md-raised">Save</md-button>
	</md-dialog-actions>
	</form>

</md-dialog>
