<div class="mainContent" id="projectInfo">


	<div layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-padding>
		<div id="projectMainInfo" layout="column" layout-padding flex-xs flex-sm flex-gt-sm="40">
			<span class="md-headline">Basic Info</span>

			<br>

			<table class="table">
				<tr>
					<td><b>Name:</b> </td>  <td>{{ project.name }}</td>
				</tr>
				<tr>
					<td><b>Description:</b> </td>  <td>{{ project.description }}</td>
				</tr>
				<tr>
					<td><b>Project Type:</b> </td>  <td>{{ project.type }}</td>
				</tr>
				<tr>
					<td><b>Overall Status:</b> </td>  <td>{{ project.status }}%</td>
				</tr>
				<tr>
					<td><b>Customer/Client:</b> </td>  <td>{{ project.customer.name }}</td>
				</tr>
				<tr>
					<td><b>Project Manager:</b> </td>  <td>{{ project.projectManager.name }}</td>
				</tr>
				<tr>
					<td><b>Date Started:</b> </td>  <td>{{ project.created_at | amDateFormat:'MMMM DD, YYYY' }}</td>
				</tr>
			</table>
		</div>



		<div id="projectStages" layout="column" flex-xs flex-sm flex-gt-sm="60">
			<span class="md-headline">Stages <small ng-if="project.stages.length == 0">(No stages yet)</small></span>

			<timeline>
				<timeline-event ng-repeat="stage in project.stages | orderBy:'-created_at'" side="right" class="am-fade-and-slide-bottom">
					<timeline-badge ng-class="{ 'info': stage.stage == 'Development', 'success': stage.stage == 'Document Assessment' }">
						<i class="mdi mdi-check"></i>
					</timeline-badge>
					<timeline-panel class="info">
						<timeline-heading>
							<h4>{{ stage.created_at | amDateFormat:'MMMM DD, YYYY' }}</h4>
						</timeline-heading>
						<em>{{ stage.stage }}</em>
						<p>{{ stage.note }}</p>
						<a ng-click="showComments(stage)" href="">
							<md-tooltip>Click to view or add comments</md-tooltip>
							{{ stage.comments.length }} comments
						</a>
						<br>
						<a ng-click="projectStageEdit(stage)" href="">
							Edit
						</a>
						/
						<a ng-click="projectStageDelete(stage)" href="">
							Delete
						</a>
					</timeline-panel>
				</timeline-event>
			</timeline>
		</div>
	</div>


</div>

