<div class="mainContent" id="projectList" layout="column" layout-padding>

	<br>

	<p ng-if="projects.length == 0" class="md-subhead">No project(s) found</p>
	
	<md-list flex>
		<md-list-item ng-repeat="project in projects | orderBy:'-created_at'" ng-click="projectInfo(project)" class="md-3-line am-fade-and-slide-bottom" layout="row">
			<div layout="row">
				<ng-letter-avatar data="{{ project.name }}" alphabetcolors="alphabetColors" shape="round" dynamic="true"></ng-letter-avatar>
			</div>

			<div layout="row" flex>
				<div layout="column" layout-align="start start" flex class="md-list-item-text">
					<h3>{{ project.name }}</h3>
					<p>{{ project.description }}</p>
					<p>{{ project.type }}</p>
				</div>
				<div hide-xs layout="column" layout-align="start start" flex-sm="35" flex-gt-sm="25" class="md-list-item-text">
					<p>Overall Status: <b>{{ project.status }}%</b></p>
					<p> </p>
					<p>Date Started: <b>{{ project.created_at | amDateFormat:'MMMM D, YYYY' }}</b></p>
					<md-divider ng-if="!$last"></md-divider>
				</div>
			</div>
		</md-list-item>
	</md-list>


</div>