<md-dialog id="projectStageComments" layout="column" flex="60" aria-label="Project Stage Comments" style="max-height: 80%">

	
	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Comments</span>
		</div>

		<span flex></span>

		<md-button ng-click="dismiss()" class="md-icon-button" aria-label="Close comments">
			<i class="mdi mdi-close"></i>
		</md-button>
	</md-toolbar>


	<form name="stageCommentsForm" ng-submit="postComment()">
	<md-dialog-content layout="column" layout-padding>

		<div id="comments" layout>
			<p class="md-title" ng-if="stage.comments.length == 0"><small>No comments found</small></p>

			<md-list flex>
				<md-list-item class="md-3-line am-fade-and-slide-top" ng-repeat="comment in stage.comments | orderBy:'-created_at'">
					<div class="md-list-item-text" layout="column">
						<h3>{{ comment.user.name }}</h3>
						<p>{{ comment.comment }}</p>
						<em>{{ comment.created_at | amDateFormat:'MMMM DD, YYYY hh:mm:ss A' }}</em>
					</div>
				</md-list-item>
			</md-list>
		</div>


		<div id="commentInput" layout class="md-whiteframe-10dp">
			<md-input-container flex>
				<label>Type your comment here...</label>
				<input ng-model="comment" name="comment" ng-pattern="alphanumericSymbol" ng-minlength="4" />
			</md-input-container>

			<md-button ng-click="postComment()" class="md-fab md-mini md-accent">
				<i class="mdi mdi-send"></i>
				<md-tooltip md-direction="left">Send/Post</md-tooltip>
			</md-button>
		</div>
	</md-dialog-content>
	</form>

</md-dialog>