@import '../core/palette.scss';



// NAVBAR
div#navbar {
	height: 90px;
	background: palette(Grey, 900);
	color: white;
	padding-left: 10px;
	padding-right: 10px;

	a {
		color: white;
	}

	i.mdi {
		color: palette(Red, 800);
	}

	div#menu {
		font-size: 20px;
		margin-right: 10px;
	}

	div#logo {
		// style for logo
	}

	div#viewTitle {
		white-space: nowrap;
	}

	.navbarLink {
		padding: 10px 15px 10px 15px;
		text-align: center;
		cursor: pointer;
		white-space: nowrap;
	}

	.navbarLink.active {
		background: palette(Red, 800);
		border-radius: 2px;
	}

	.mdi.action {
		font-size: 20px;
		color: #99FF00;
	}
}





// SIDENAV
#sidenav {
	
	md-sidenav {
		background-color: palette(Grey, 900);
		height: 100%;
		position: fixed;
		top: 0px;
		left: 0px;

		md-content {
			background-color: palette(Grey, 900);
		}
		

		.profileSection {
			color: #FFF;
			background-image: url('/assets/images/materialDesignPattern.jpg');
			background-size: cover;
			background-position: center;
			height: 150px;
			overflow: hidden;
			text-shadow: 1px 1px 10px #000000;

			img.circleAvatar {
				box-shadow: 1px 1px 2px #000000;
			}
		}

		i.mdi {
			font-size: 22px;
			color: palette(Red, 800);
		}

		md-list {
			color: #FFF;
			height: 100%;

			md-list-item {
				cursor: pointer;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}

	md-sidenav, 
	md-sidenav.md-locked-open, 
	md-sidenav.md-closed.md-locked-open-add-active {
		min-width: 200px !important;
		width: 85vw !important;
		max-width: 300px !important;
	}
}





.mainContent {
	height: calc(100vh - 90px);
	overflow: auto;
}




	

// CUSTOM SCROLLBAR
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
 
::-webkit-scrollbar-track {
	/*background: rgba(0,0,0,0.1); */
	border-radius: 10px;
	/*border:1px gray solid;*/
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0,0,0,0.3);
	&:hover{
		background: rgba(0,0,0,0.3);
		border:1px solid rgba(0,0,0,0.3);
	}
	&:active{
		background: rgba(0,0,0,0.5);
		border:1px solid rgba(0,0,0,0.5);
	}
	/*&:not(:active){
		background: none;
		border:0px solid rgba(0,0,0,0.5);
	}   */
}







// UTILITIES
div.clearfix {
	clear: both;
	width: 100%;
}








// ANGULAR-TIMELINE MODS AND FIXES
timeline {
	margin-left: -20px;
}

timeline-badge {
	z-index: 0;
}








// ANGULAR MATERIAL MODS
.date-picker {
	padding-right : 18px;
	height        : 58px !important;
	margin-top    : 8px !important;

	label {
		left  : 33px !important;
		right : 0 !important;
		width : calc(100% - 33px) !important;
	}

	md-datepicker {
		display     : inline-block;
		width       : 100%;
		margin-left : 26px;
		height      : 0;

		.md-datepicker-button {
			float       : left;
			margin-top  : -12.5px;
			margin-left : -33px;
		}

		.md-datepicker-input-container {
			width : 100%;
			top   : -14px;
			right : 17px;

			.md-datepicker-input {
				max-width : 100% !important;
				min-width : 100% !important;
			}

			.md-datepicker-expand-triangle {
				border-left  : 4px solid transparent;
				border-right : 4px solid transparent;
				border-top   : 4px solid;
			}
		}
	}

	.md-input-messages-animation {
		.md-input-message-animation {
			opacity     : 1;
			margin-top  : 6px !important;
			margin-left : 34px !important;
		}
	}
}
