<div id="loginContainer" cg-busy="loadingProperties">
	<div id="loginHeader" layout="column" layout-align="start center">
			<img src="/assets/images/logo1.png" alt="Appsprove Logo">
			<p class="md-title">Sign in to continue to customer's page.</p>
	</div>

	<div layout layout-align="center start">
		<form name="loginForm" id="loginForm" ng-submit="login(loginForm)" flex novalidate>
			<div layout="column" layout-padding>
				<md-input-container>
					<label>Email Address</label>
					<input ng-model="email" name="email" type="email" required ng-minlength="3" ng-maxlength="50" />
					<div ng-messages="loginForm.email.$error">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					</div>
				</md-input-container>

				<md-input-container>
					<label>Password</label>
					<input ng-model="password" name="password" type="password" required ng-pattern="alphanumeric" ng-minlength="4" ng-maxlength="50" />
					<div ng-messages="loginForm.password.$error">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
					</div>
				</md-input-container>
			</div>

			<div layout="column" layout-padding>
				<md-button type="submit" class="md-primary md-raised">Login</md-button>
			</div>
		</form>

	</div>


	<div id="footer">
		<a ui-sref="register" class="md-subhead">No account? Click to register!</a>
		<br>OR<br>
		<a href="//appsprove.com" class="md-subhead">Go back to homepage</a>
	</div>

</div> <!-- div#loginContainer -->



	

