<div id="registerContainer" cg-busy="loadingProperties">
	<div id="registerHeader" layout="column" layout-align="start center">
			<img src="/assets/images/logo1.png" alt="Appsprove Logo">
			<p class="md-title">Complete the form to have your own account.</p>
	</div>

	<div layout layout-align="center start">
		<form name="registerForm" id="registerForm" ng-submit="submitRegister(registerForm)" flex novalidate>
			<div layout="column" layout-padding>
				<md-input-container>
					<label>Email Address</label>
					<input ng-model="accountInfo.email" name="email" type="email" ng-keyup="emailCheck()" required ng-minlength="3" ng-maxlength="50" />
					<div ng-messages="registerForm.email.$error">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="alreadyTaken" class="error">This email address is already taken</div>
					</div>
				</md-input-container>

				<md-input-container>
					<label>Name</label>
					<input ng-model="accountInfo.name" name="name" required ng-pattern="alpha" ng-minlength="4" ng-maxlength="50" />
					<div ng-messages="registerForm.name.$error">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires letters only</div>
					</div>
				</md-input-container>

				<md-input-container>
					<label>Password</label>
					<input ng-model="accountInfo.password" name="password" type="password" required ng-pattern="alphanumeric" ng-minlength="4" ng-maxlength="50" />
					<div ng-messages="registerForm.password.$error">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
					</div>
				</md-input-container>

				<md-input-container>
					<label>Confirm Password</label>
					<input ng-model="accountInfo.confirmPassword" name="confirmPassword" type="password" required ng-keyup="confirmPasswordCheck(registerForm)" ng-pattern="alphanumeric" ng-minlength="4" ng-maxlength="50" />
					<div ng-messages="registerForm.confirmPassword.$error">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="passwordNotMatch">Password not match</div>
						<div ng-message="pattern">This field requires letters and numbers only</div>
					</div>
				</md-input-container>
			</div>

			<div layout="column" layout-padding>
				<md-button type="submit" class="md-primary md-raised">Submit</md-button>
			</div>
		</form>

	</div>


	<div id="footer">
		<a ui-sref="login" class="md-subhead">Proceed to login</a>
		<br>OR<br>
		<a href="//appsprove.com" class="md-subhead">Go back to homepage</a>
	</div>

</div> <!-- div#loginContainer -->



	

